  <div class="mt-5 mb-5 container d-flex justify-content-end">   
    <button class="btn btn-primary"><i class="me-1 fas fa-plus-circle"></i>Add New</button>
  </div>  
<div class="container "> 
<table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Student Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Country</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
            <tr >
                <td><a href="#">Edit</a></td>
              <td> ahmed </td>
              <td> 32 </td>
              <td> male </td>
              <td> ahmed@gmail.com </td>
              <td> egypt </td>
              <td>
                <i class="fas fa-trash"></i>
              </td>
            </tr>
    </tbody>
  </table>
</div> 