  <div class="mt-5 mb-5 container d-flex justify-content-end">   
    <button class="btn btn-primary"><i class="me-1 fas fa-plus-circle"></i>Add New</button>
  </div>  
<div class="container "> 
<table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Student Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Country</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
            <tr >
                <td><a href="#">Edit</a></td>
              <td> ahmed </td>
              <td> 32 </td>
              <td> male </td>
              <td> ahmed@gmail.com </td>
              <td> egypt </td>
              <td>
                <a href="#" (click)="showDeleteConfirmation()"><i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
    </tbody>
  </table>
</div> 

<!-- Delete Confirmation Modal -->
<div >
  <i class="fa-solid fa-user-xmark"></i>
  <div class="modal-body">
    <h2>Are You Sure?</h2>
    <hr class="mx-5"/>
      <p>
        Do you really want to delete this student?
      </p>
  </div>

<div class="modal-footer justify-content-center">
  <button (click)="closeModel()" class="btn btn-secondary mx-1">Cancel</button>
  <button (click)="deleteStudent()" class="btn btn-danger">Delete</button>
</div>
</div>
