

<div class="modal-header">
  <h4 class="modal-title">{{ id === 0 ? 'Add Student' : 'Edit Student' }}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="message alert alert-danger" *ngIf="showEmailError">
  {{ errorMessage }}
</div>
<div class="modal-body">
  <form #studentForm="ngForm">
    <div class="row mb-3">
      <div class="col-md-3">
        <label for="fname" class="form-label">First Name</label>
      </div>
      <div class="col-md-9">
        <input type="text" class="form-control" id="fname" name="fname" [(ngModel)]="student.fname" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3">
        <label for="lname" class="form-label">Last Name</label>
      </div>
      <div class="col-md-9">
        <input type="text" class="form-control" id="lname" name="lname" [(ngModel)]="student.lname" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3">
        <label for="email" class="form-label">Email</label>
      </div>
      <div class="col-md-9">
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="student.email" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3">
        <label for="gender" class="form-label">Gender</label>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <div class="form-check">
              <input class="form-check-input" type="radio" id="male" name="gender" value="male" [(ngModel)]="student.gender" required>
              <label class="form-check-label" for="male">Male</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-check">
              <input class="form-check-input" type="radio" id="female" name="gender" value="female" [(ngModel)]="student.gender" required>
              <label class="form-check-label" for="female">Female</label>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="row mb-3">
      <div class="col-md-3">
        <label for="birthdate" class="form-label">Birthdate</label>
      </div>
      <div class="col-md-9">
        <ngb-datepicker class="form-control" id="birthdate" name="birthdate" [(ngModel)]="student.birthdate" [startDate]="{ year: student.birthdate?.year, month: student.birthdate?.month, day: student.birthdate?.day }"[minDate]="{year:1990 ,month: 1, day: 1 }" [maxDate]="{ year: currentYear, month: 12, day: 31 }"></ngb-datepicker>
      </div>          
    </div>

    <div class="row mb-3">
      <div class="col-md-3">
        <label for="country" class="form-label">Country</label>
      </div>
      <div class="col-md-9 "> 
        <ng-select class="form-select" 
        id="country" 
        name="country" 
        [items]="countries"
        [(ngModel)]="student.country"
        required>
        </ng-select>
        
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      <button type="submit" class="btn btn-danger" (click)="saveStudent()">Save</button>
    </div>
  </form>
</div>
